menu {
    position: relative;
    background: transparent;
    height: 4em;

    padding: 1em;
    margin-bottom: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
